{% extends "tires/base.html" %}

{% block content %}
<a href="{% url 'tires:create'%}">CREATE NEW TIRE</a>
<table>
    <tr>
        <th>width</th>
        <th>height</th>
        <th>diameter</th>
        <th>speed_index</th>
        <th>picture</th>
    </tr>
     {% for tire in tires_list %}
        <tr>
            <td>{{tire.width}}</td>
            <td>{{tire.height}}</td>
            <td>{{tire.diameter}}</td>
            <td>{{tire.speed_index}}</td>
            <td><img src="{{tire.picture.url}}"></td>
            <td><a href="{% url 'tires:edit' tire.pk %}">edit</a></td>
            <td><a href="{% url 'tires:delete' tire.pk %}">delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
